<div *ngIf="message">
  <h4 style="color: red">{{message}}</h4>
</div>
<div *ngIf="book">
  <h3>Form Edit Customer</h3>
  <div class="form-group">
    <label>Tile</label>
    <input type="text" class="form-control"  placeholder="Name" [(ngModel)]="book.title" >
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control"  placeholder="Name" [(ngModel)]="book.author" >
  </div>
  <div class="form-group">
    <label>Discription</label>
    <input type="text" class="form-control"  placeholder="Name" [(ngModel)]="book.description" >
  </div>

  <button class="btn btn-light" (click)="editBook()">Edit</button>
</div>
